accelerate==0.31.0
black==23.7.0
datasets==2.16.0
easydict==1.13
einops==0.6.1
ema-pytorch==0.7.7
gradio==5.15.0
imageio-ffmpeg==0.4.9
imageio==2.34.0
joblib==1.4.2
kornia==0.7.0
matplotlib==3.7.1
numba==0.57.0
pydantic==2.6.3
rich==13.5.1
scipy==1.11.1
setuptools==69.5.1
simple-parsing==0.1.5
tensorboard==2.14.0
torch==2.1.2
torchcfm==1.0.5
torchdiffeq==0.2.4
torchvision==0.16.2
tqdm==4.66.1